.box {
    margin-top: -40px;
    margin-right: 30px;
    margin-bottom: 40px;
    margin-left: 4em;
}
.container{
    border-color: blue;
    border-width:thick;
}
div{
    background-color: black;
}
body { background-color:black}